@import url(reset.css);
@import url(theme.css);

    
/* Inicio */
/*=============================*/




/* Navbar */
/*=============================*/

/* Estilos generales */
header {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-lightest);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
}

.site-name {
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-family: var(--font-primary);
}

nav {
    padding: 0.4rem;
}

nav ul {
    display: flex;
    gap: 0.5rem;
}


nav ul li a {
    padding: 0.8rem 1.4rem;
    display: block; 
    width: 100%; 
    height: 100%; 
}

.site-name:hover, nav ul li:hover, .nav-buttons button:hover {
    background-color: #eee;
    border-radius: 8px;
}



.nav-buttons {
    margin: 0 1rem;
}


.menu-toggle {
    padding: 1rem;
    display: none;
}

.menu-toggle i {
    font-size: 1.5rem;
}


.cart-button {
    padding: 1rem;
    
}

.cart-button i {
    font-size: 1.5rem;
}

.badge {
    position: absolute;
    top: 20px;
    right: 32px;
    background-color: #333;
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;
}





/* Hero */
/*=============================*/

.hero-main {
    position: relative;
    background: url(/images/remera\ \(10\).webp) no-repeat center center fixed; /* Aquí pones la imagen que quieres usar */
    background-size: cover;
 
    padding: 1rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    z-index: 1;
    width: 100%;
}


.hero-content {
    z-index: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.hero-main h1 {
    margin-bottom: 0.6rem;
    line-height: 2.6rem;
}







/* Footer */
/*=============================*/

footer {
    width: 100%;
    margin-top: 1rem;

}


/* Newsletter */

.footer-newsletter {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 2rem;
    gap: 1rem;
}

.newsletter-content {
    padding: 2rem 1.5rem;
    width: 40%;
}

.newsletter-content h4, .newsletter-content p {
    margin: 1rem;
}

.newsletter-form {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60%;
}

.newsletter-button {
    padding: 1rem 1.5rem;
    margin: 1rem;
    border: 1px solid #bbb;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.visually-hidden {
    font-size: 0.75rem;
}

#newsletter-email {
    font-size: 1rem;
    padding: 0.6rem 0.2rem;
    border-bottom: 0.15rem solid #aaa;
} 





/* Links */

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.footer-copyright {
    order: 1;
}

.footer-navigation {
    order: 2;
}

.footer-social {
    order: 3;
}



.footer-copyright p {
    font-size: 0.8rem;
    margin: 0 1rem;
}

.footer-navigation ul {
    display: flex;
}

.footer-navigation ul li a {
    padding: 0.5rem 1rem;
    margin: 0.4rem;
    font-size: 0.9rem;
}

.footer-navigation ul li a:hover {
    border-radius: 8px;
    background-color: #eee;
}

.footer-social ul {
    display: flex;
    padding: 0 1rem;

}

.footer-social ul li a i {
    padding: 0.6rem;
    margin: 0.15rem;
    font-size: 0.9rem;
    border-radius: 50%;
    background-color: #eee;
}




/* Contacto */
/*=============================*/

.contact-section {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-header {
    background-color: #eee;
    padding: 1rem;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: start;
}



.intro {
    font-size: 0.75rem;   
    padding: 0 1rem;
    text-transform: uppercase;
    margin: 2rem 0 1rem 1rem;
    border-left: 1px solid #333;
}

.contact-header h1 {
    padding: 0 1rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 4rem 0 0;


}

.description {
    padding: 0 1rem;

}


.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 60%;
}


.contact-form form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.form-row {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.form-row .form-group {
    margin: 1rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.form-group input, .form-group textarea {
    font-size: 1rem;
    padding: 0.6rem 0.2rem;
    border-bottom: 0.15rem solid #aaa;
    width: 100%;
    height: 3rem;
}

.form-group textarea {
    resize: vertical; 
    overflow: hidden;
    
}

.form-group label {
    font-size: 0.75rem;
}

.submit-button {
    padding: 1rem 1.5rem;
    margin: 1rem;
    border: 1px solid #bbb;
    cursor: pointer;
    width: 100%;
}






/* Productos */
/*=============================*/

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 2rem;
}

.product-card {
    padding: 1rem 1.4rem;
    border: 1px solid var(--color-medium-dark);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 200px;
}

.product-card .product-price {
    color: var(--color-info-light);
    font-weight: 600;
    font-family: var(--font-primary);
}







/* Carrito */
/*=============================*/

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.cart-table th, .cart-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.cart-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.cart-summary {
    text-align: right;
    margin: 20px 0;
}

.cart-product-image {
    width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}







/* Footer */
/*=============================*/

.categories-section {
    margin: 2rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.categories-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
}

.categories-container .category {
    padding: 1rem;

    height: 40vh;
}

.category {
    padding: 1rem;

    height: none;
}

.categories-container .category, .category {
    display: flex;
    justify-content: start;
    align-items: end;
}

.category-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}


#category-men {
    position: relative;
    background: url(/images/remera\ \(5\).webp) no-repeat center center fixed; /* Aquí pones la imagen que quieres usar */
    background-size: cover;
    width: 100;
    z-index: 1;
}




#reviews {
    padding: 40px 20px;
    background-color: #f9f9f9;
}



.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.review {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.review-content {
    flex: 1;
}

.review-content h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.review-text {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

.rating {
    color: #f39c12;
    font-size: 1.2rem;
    margin-top: 10px;
}



/* Estilo de la sección parallax */
.parallax-section {
    position: relative;
    height: 60vh; /* Ajusta el tamaño del área parallax */
    background: url(/images/remera\ \(5\).webp) no-repeat center center fixed; /* Aquí pones la imagen que quieres usar */
    background-size: cover;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.parallax-content {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); /* Opcional: Añadir un filtro oscuro para mejorar la visibilidad del texto */
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}








/* Estilos para pantallas pequeñas */
@media (max-width: 800px) {
    .site-name {
        margin: 0;
    }

    nav ul {
        display: none; 
        flex-direction: column;
        background-color: var(--color-lightest);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        gap: 0;
    }

    nav ul.active {
        display: flex; /* Muestra el menú al activarlo */
    }

    .menu-toggle {
        display: inline-block; /* Muestra el botón hamburguesa */
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .nav-buttons {
        margin: 0;
    }

    .cart-button {
        margin-left: auto;
    }

    .badge {
        top: 20px;
        right: 76px;
    }


    .categories-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .category {
        height: 40vh;
    }


    .footer-newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        gap: 0;
    }
    
    .newsletter-content {
        padding: 1rem;
        width: 80%;
        text-align: center;
    }
    
    .newsletter-form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem;
    }
    
    .visually-hidden {
        text-align: center;
    }
    
    #newsletter-email {
        font-size: 0.9rem;
        padding: 1rem;
    } 

    #newsletter-email::placeholder {
        text-align: center;
    }


    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        gap: 1.5rem;
    }


    .footer-copyright {
        order: 3;
    }
    
    .footer-navigation {
        order: 1;
    }
    
    .footer-social {
        order: 2;        
        margin: 1rem 0;
    }


    .contact-section {
        padding: 0 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-header {
        width: 100%;
        padding: 2rem 1rem;
    }

    .contact-form {
        width: 100%;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}